.content-main .decision{
    position: absolute;
    right: 20px;
    bottom: 20px;
    gap: 20px;
}
.content-main .decision>div
{
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-white);
    font-weight: 3400;

}

.content-main .decision .refuse{
    background-color: var(--color-red) ;
}

.content-main .decision .accept{
    background-color: var(--puple);
}

